.message-modal {
    position: fixed;
    width: 80%;
    max-width: 450px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 20px 20px 20px;
}
.message-modal .header {
    background-color: rgba(255, 255, 255, 0.8);

    font-size: 120%;

    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0 0;
}
.message-modal .body {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0px;
    width: 100%;
    height: 80%;
}
.message-modal .body .color-container {
    width: 100%;
    height: 20%;
}
.message-modal .body .message-container {
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.message-modal .body .message-container .message {
    width: 90%;
    height: 90%;
    resize: none;
}
.message-modal .footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    overflow: hidden;

    border-top: 0px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 10%;
}
.message-modal .footer .cancel {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ff97bf;
}
.message-modal .footer .register {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff97bf;
    opacity: 0.5;
    color: white;
}

.message-modal .header .title {
    text-align: center;
    color: #ff97bf;
}
