.main-page {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  max-width: 100%;
  min-height: 100vh;
}
.main-page .title {
  padding-top: 10vh;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  text-align: center;
}
.main-page .body-container {
  padding-top: 50vh;
  height: 30vh;
  font-size: 80px;
  top: 0;
  color: white;
  text-align: center;
}
.main-page .body-container .btn {
  height: 10vh;
  font-size: 40px;
  font-family: 'Gugi', cursive;
  color: white;
  text-align: center;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}
