.link-modal {
    position: fixed;
    width: 80%;
    max-width: 450px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 20px 20px 20px;
}
.link-modal .header {
    background-color: rgba(255, 255, 255, 0.8);

    font-size: 120%;

    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0 0;
    border: solid #ff97bf;
}
.link-modal .body {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #ff97bf;
    border-top: 0px;
    width: 100%;
    height: 80%;
}
.link-modal .body .input-container {
    width: 100%;

    padding-top: 2.5%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.link-modal .body .preview-container {
    width: 90%;
    max-height: 80%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    border-style: solid;
    border-color: #ff97bf;
    border-radius: 10px;
    border-width: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.link-modal .footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    overflow: hidden;
    border: solid #ff97bf;
    border-top: 0px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 10%;
}
.link-modal .footer .cancel {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ff97bf;
}
.link-modal .footer .register {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff97bf;
    opacity: 0.5;
    color: white;
}

.link-modal .header .title {
    text-align: center;
    color: #ff97bf;
}
