.create-message-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    max-width: 100%;
    min-height: 100vh;
}
.create-message-container .header {
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
}
.create-message-container .body-layer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    color: white;
    text-align: center;
    overflow: auto;
}

.create-message-container .body-layer .block-container {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    height: 150px;
}

.create-message-container .body-layer .left {
    margin-right: auto;
}
.create-message-container .body-layer .right {
    margin-left: auto;
}
.create-message-container .body-layer .block-container .block {
    height: 150px;
}

.create-message-container .body-layer .block-add {
    align-items: center;

    display: flex;
    height: 50px;
}
.create-message-container .button-layer {
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
}
.create-message-container .button-layer .left {
    width: 40%;
    padding-right: 10%;
}
.create-message-container .button-layer .right {
    width: 40%;
    padding-left: 10%;
}
.create-message-container .button-layer .button {
    height: 60px;
    width: 120px;
    font-size: 20px;
    font-family: "Gugi", cursive;
    color: #ff97bf;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: white;
    border-radius: 30px;
    border-style: solid;
}
.create-message-container .button-layer .button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
